<!DOCTYPE html>
<html data-ng-app="blog">
    <head>
        <meta charset="utf-8" />
        <title>CurryOn Blog</title>
        <link rel="stylesheet" type="text/css" href="Content/tether/tether.min.css" />
        <link rel="stylesheet" type="text/css" href="Content/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="Content/index.css" />
        <script type="text/javascript" src="Scripts/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="Scripts/tether.min.js"></script>
        <script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
        <script type="text/javascript" src="Scripts/angular.min.js"></script>
        <script type="text/javascript" src="Scripts/jquery.signalR-2.2.2.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navigationLinks" 
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-brand">CurryOn</div>
            <div id="navigationLinks" class="collapse navbar-collapse" data-ng-controller="blogNavigation">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item nav-link active" data-ng-click="navigateTo('home')">Home</li>
                    <li class="nav-item nav-link" data-ng-hide="service.currentUser.isLoggedIn" data-ng-click="navigateTo('logIn')">Log In</li>
                    <li class="nav-item nav-link" data-ng-hide="service.currentUser.isLoggedIn" data-ng-click="navigateTo('registration')">Register</li>
                    <li class="nav-item nav-link" data-ng-hide="!service.currentUser.isLoggedIn" data-ng-click="navigateTo('logOut')">Log Out</li>
                </ul>
            </div>
        </nav> 
        <div class="jumbotron bg-primary">
            <h1>CurryOn Blog</h1>
        </div> 
        <div class="container" data-ng-controller="blogHome">
            <h2>{{blog.name}}</h2>
            <h4>{{blog.description}}</h4>
            <div data-ng-repeat="post in blog.posts">
                <table class="table table-responsive">
                    <tr>
                        <td colspan="2">
                            <h3 class="clickable" data-ng-click="service.loadBlogPost(post.blogPostId)">{{post.title}}</h3>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left">
                            By: <span class="font-italic">{{post.author}}</span>
                        </td>
                        <td class="text-right">
                            {{post.date}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="font-italic">
                            {{post.summary}}...
                        </td>
                    </tr>
                </table>                
            </div>
        </div>
        <script type="text/javascript" src="Scripts/index.js"></script>
    </body>
</html>
